<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link rel="stylesheet" href="cssfile/index.css" />
  </head>
  <body>

{{>navbars}}

<h1 style="color: red;" >This is the first mongodb product page</h1> 
    <div>
      <input type="text" id="name" placeholder="Name" />
      <input type="Number" id="price" placeholder="Price" />
      <input type="Number" id="qty" placeholder="Quantity" />
      <button id="submit-btn">Submit</button>
      <p id="message"></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/jsfile/index.js"></script>
  </body>

</html>